@import "tailwindcss";

@theme {
  --color-brandDark: #0B0F12;
  --color-brandTeal: #00A896;
  --color-brandGray: #1A2126;
}

@font-face {
  font-family: 'RoadRage';
  src: url('./fonts/Road_Rage.otf') format('opentype');
  font-display: swap;
}

body {
  margin: 0;
  background-color: #0B0F12;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
